# Terraform 作業ディレクトリ
.terraform/
.terraform.lock.hcl

# Terraform state ファイル
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Terraform 設定・実行関連
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# CLI 設定ファイル
.terraformrc
terraform.rc

# クラッシュログ・一時ファイル
crash.log
crash.*.log
*.log
*.bak

# エディタ・IDE
.vscode/
.idea/

#その他
tfplan.binary
tfplan
